$dark-base: #002336;
html,body{
    height:100%;
}

body{
    font-size: 16px;
    font-family: 'Roboto', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a{
    text-decoration: none;
    &:link{}
    &:visited{}
    &:hover{
        border-bottom: 1px dotted $dark-base;
    }
    &:active{}
}
h1, h2, h3, h4{
    color: $dark-base;
    text-transform: uppercase;
    .dark-bg{
        color: #fff;
    }
    text-align: center;
}
figure{
    margin: 0;
}
body > header{
    position: relative;
    width: 100%;
    height: 80vh;
    h1{
        display: block;
        margin: 0;
        font-size: 0px;
    }
    svg{
        position: relative;
        top: 1rem;
        opacity: .75;
    }
    h2{
        position: relative;
        font-size: 4.625rem;
        text-transform: uppercase;
        color: #A7FFB9;
        letter-spacing: 9.28px;
        text-shadow: 0px 2px 16px #00202F;
        z-index: 2000;
        top: 25%;
        transform: translateY(-50%);
    }
}


nav{
    z-index: 2000;
    border-bottom: 1px solid rgba(255,255,255,0.50);
    ///
    svg{
        width: 100%;
    }
    ///
    #logo{
        fill: rgba(255, 255, 255, .8);
        transition: all .3s ease;
    }
    #logo:hover {
        fill: rgba(255, 255, 255, 1);

    }
    a{
        color: rgba(255,255,255,0.70);
        border-bottom: 1px solid rgba(255,255,255,0);
        transition: all .3s ease;
        display: inline-block;
        padding-bottom: 1rem;
        &:hover{
            color: rgba(255,255,255,0.90);
            border-bottom-style: solid;
            border-color: rgba(255,255,255,1)
        }
    }
    ul{
        margin: 0;
        padding: 1.8125rem 0 0 0;
        list-style-type: none;
        float: right;
        //////
        display: none;
        //////
        li{
            display: inline-block;
            padding: 0 1.3125rem;
        }
    }
    color: white;
}
@media (min-width: 550px) {
    nav{
        svg{
            width: auto;
        }
        ul{
            display: block;
        }
    }
}


.iframe_wrapper{
    position: absolute;
    top: 0;
    width:100%;
    height:100%;
    margin:0;
    background:#CCC;

}
.h_iframe{
    position:relative;
}
.h_iframe .ratio {
    display:block;
    width:100%;
    height:auto;
}
iframe {
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
}
@media (min-width: 550px) {
    iframe{
        height: 80vh;
    }
}

main{
    position: relative;
    section{
        header{
            padding-top: 5.1875rem;
            padding-bottom: 5.1875rem;
        }
        header h2:after{
            content:'';
            display: block;
            position: relative;
            margin: 1.375rem auto;
            width: 3.625rem;
            height: 3px;
            background: $dark-base;
        }
    }

}
article.w_vr_view{
    position: relative;
    margin-bottom: 2rem;
    h3{
        color: white;
        position: absolute;
        display: block;
        margin: 0;
        margin-left: 1rem;
        margin-top: .8rem;
        text-align: left;
        width: auto;
        z-index: 100;
    }
    a{
        border: none;

        img{
            opacity: 1;
            width: 100%;
            transition: opacity .6s ease;
        }
        &:hover img{
            opacity: .9;
        }
    }
    background-color: white;

    .goggle_wrapper{
        position: absolute;
        display: block;
        bottom: 0.8125rem;
        right: 0.8125rem;
        width: 49px;
        height: 28px;
        padding:  13px;
        background: rgba(0,0,0,0.35);
        transition: background .3s ease;
        &:hover{
            background: rgba(102,102,102,1);
        }
    }
    .goggles{
        display: block;
        background:transparent url('../img/goggles.svg') left top no-repeat;
        width: 49px;
        height: 28px;
    }
}
footer{
    margin-top:9.0625rem;
    background-color: $dark-base;
    color: white;
    padding-top: 5.625rem;
    padding-bottom: 3.25rem;
    figure{
        margin: 3rem auto 1rem;
    }
    h4{
        font-size: 17px;
        color: #FFFFFF;
        letter-spacing: 4.53px;
    }
    p.quote{
        font-size: 19px;
        color: rgba(255,255,255,0.70);
        letter-spacing: 0.67px;
        line-height: 27px;
        max-width: 850px;
        margin: 0 auto ;
        padding-bottom: 3rem;
        text-align: center;
    }

}
.picture_rounded{
    display: block;
    width: 117px;
    height: 117px;
    border-radius: 50%;
    overflow: hidden;
}
.social_icons{
    text-align: center;
    padding-bottom: 3.25rem;
    border-bottom: 1px solid #808E95;

    a:link, a:visited{
        opacity: .5;
        transition: all .3s ease;

    }
    a:hover, a:active, a:focus{
        opacity: 1;
    }
    i{
        display: inline-block;
        margin: 0 1rem;
        font-size: 2rem;
        color: white;
    }
}
