<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My test</title>
    <link rel="stylesheet" href="">
    <script src="../js/angular.min.js"></script>
    <script src="../js/aframe.min.js"></script>
    <script src="../js/mytest2.js"></script>
</head>
<body ng-app="fanfans" ng-controller="OntheFanfansCtrl">
    <a-scene>
        <a-assets>
            <img id="sky" src="../img/tuba-city-sky-360.jpg">
        </a-assets>
        <a-sphere ng-repeat="sphere in spheres" color="{{sphere.color}}" radius="{{sphere.radius}}" position="{{sphere.position.toString()}}"></a-sphere>

        <a-sky src="#sky"></a-sky>

    </a-scene>
</body>
<script type="text/javascript">

    var app = angular.module('fanfans', []);

    app.controller("OntheFanfansCtrl", ["$scope", function($scope) {
        $scope.spheres = [];
        window.toggle = 0;

        window.updateFanfas = function(freqs) {
            for(var i = 0; i < freqs.length; i++) {
                $scope.$apply(function(){
                    //raio entre 1 (0) e 1.5 (350)
                    var l = (freqs[i]/100)+1;
                    //$scope.spheres[i].radius = l;
                    var x = (window.toggle + i)%2 ? -1 : 1;
                    var z = -x;
                    $scope.spheres[i].position.y = x* (freqs[i]/100)*3;
                    $scope.spheres[i].position.z = z*(freqs[i]/200)*3;

                });
            }
            window.toggle++

        };

        var initialSphere = {
            radius : 1,
            position: {
                x: -1,
                y: 0,
                z: -4,
                toString : function() {
                    return this.x + " " + this.y + " " + this.z;
                }
            },
            color : "red"
        };

        var colors = ["purple", "white", "pink", "yellow", "red", "black", "orange"];

        for(var i = 0; i < 16; i++) {
            var s = angular.copy(initialSphere);
            s.position.x = s.position.x + (i*4);

            s.color = colors[Math.floor(Math.random()*(colors.length-1))];
            $scope.spheres.push(s);
        }



    }]);
</script>
</html>
