<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My test</title>
    <link rel="stylesheet" href="">
    <script src="../js/https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="../js/https://aframe.io/releases/0.3.0/aframe.min.js"></script>
    <script src="../js/mytest.js"></script>
</head>
<body ng-app="fanfans" ng-controller="OntheFanfansCtrl">
    <a-scene>
        <a-assets>
            <img id="sky" src="img/tuba-city-sky-360.jpg">
        </a-assets>
        <a-sphere ng-repeat="sphere in spheres" color="{{sphere.color}}" radius="{{sphere.radius}}" position="{{sphere.position.toString()}}"></a-sphere>

        <a-sky color="#203A42"></a-sky>

    </a-scene>
</body>
<script type="text/javascript">

    var app = angular.module('fanfans', []);

    app.controller("OntheFanfansCtrl", ["$scope", function($scope) {
        $scope.spheres = [];
        $scope.radius = 4;
        $scope.angle = 0;
        window.toggle = 0;

        window.updateFanfas = function(freqs) {
            for(var i = 0; i < freqs.length; i++) {
                $scope.$apply(function(){
                    //raio entre 1 (0) e 1.5 (350)
                    $scope.angle = ((Math.PI * 1) / freqs.length) * i;
                    $scope.spheres[i].position.x =  $scope.radius * Math.sin($scope.angle);
                    $scope.spheres[i].position.y = (freqs[i]/200)*3;
                    $scope.spheres[i].position.z = $scope.radius * Math.cos($scope.angle);

                });
            }
            window.toggle++

        };

        var initialSphere = {
            radius : 1,
            position: {
                x: -1,
                y: 0,
                z: -4,
                toString : function() {
                    return this.x + " " + this.y + " " + this.z;
                }
            },
            color : "red"
        };

        var colors = ["purple", "white", "pink", "yellow", "red", "black", "orange"];

        for(var i = 0; i < 16; i++) {
            var s = angular.copy(initialSphere);
            //s.position.x = s.position.x + (i*4);

            s.color = colors[Math.floor(Math.random()*(colors.length-1))];
            $scope.spheres.push(s);
        }



    }]);
</script>
</html>
