<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My test</title>
    <link rel="stylesheet" href="">
    <script src="../js/angular.min.js"></script>
    <script src="../js/aframe.min.js"></script>
    <script src="../js/mytest.js"></script>
</head>
<body ng-app="fanfans" ng-controller="OntheFanfansCtrl">
    <a-scene>
        <a-assets>
            <img id="sky" src="img/tuba-city-sky-360.jpg">
        </a-assets>

        <a-sphere ng-repeat="sphere in spheres" color="{{sphere.color}}" radius="{{sphere.radius}}" scale="{{sphere.scale.toString()}}" position="{{sphere.position.toString()}}"></a-sphere>

        <a-sky color="#203A42"></a-sky>
        <a-entity position="0 0 20" rotation="35 -60 0">
          <a-camera></a-camera>
        </a-entity>
    </a-scene>
</body>
<script type="text/javascript">

    var app = angular.module('fanfans', []);
    var map_range = function(value, low1, high1, low2, high2) {
        return low2 + (high2 - low2) * (value - low1) / (high1 - low1);
    }
    app.controller("OntheFanfansCtrl", ["$scope", function($scope) {
        $scope.spheres = [];
        $scope.theredone = 0;
        window.updateFanfas = function(freqs) {
            $scope.$apply(function(){
                for (var j = 0; j < freqs.length/16; j++) {
                    //console.log(j);
                    for(var i = 0; i < freqs.length/6; i++) {
                            var num = (i+1)*(j+1);
                            var scale = (freqs[num])/100;
                            $scope.spheres[num].position.x =  i * 8;
                            $scope.spheres[num].position.z = (freqs[num]/50)*5;
                            $scope.spheres[num].position.y = j * 8;
                            $scope.spheres[num].scale.x = $scope.spheres[num].scale.y = $scope.spheres[num].scale.z = Math.max(scale, 1);
                            //console.log($scope.spheres[i*j].position);
                            //console.log(freqs[i*j]);

                    }
                }
                $scope.spheres[20].color = "red";
            });

        };
        var initialSphere = {
            radius : 1,
            position: {
                x: 0,
                y: 0,
                z: 0,
                toString : function() {
                    return this.x + " " + this.y + " " + this.z;
                }
            },
            scale: {
                x: 0,
                y: 0,
                z: 0,
                toString : function() {
                    return this.x + " " + this.y + " " + this.z;
                }
            },
            color : "red"
        };

        var colors = ["255,255,255"];

        for(var i = 0; i < 256; i++) {
            var s = angular.copy(initialSphere);
            //s.position.x = s.position.x + (i*4);

            s.color = colors[0];

            $scope.spheres.push(s);
        }



    }]);
</script>
</html>
