<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My test</title>
    <link rel="stylesheet" href="">
    <script src="../js/angular.min.js"></script>
    <script src="../js/aframe.min.js"></script>
    <script src="../js/mytest.js"></script>
</head>
<body ng-app="fanfans" ng-controller="OntheFanfansCtrl">
    <a-scene>
        <a-assets>
            <img id="sky" src="img/tuba-city-sky-360.jpg">
        </a-assets>

        <a-sphere ng-repeat="sphere in spheres" color="{{sphere.color}}" radius="{{sphere.radius}}" scale="{{sphere.scale.toString()}}" position="{{sphere.position.toString()}}"></a-sphere>

        <a-sky color="#203A42"></a-sky>
        <a-entity position="0 0 20" rotation="35 -60 0">
          <a-camera></a-camera>
        </a-entity>
    </a-scene>
</body>
<script type="text/javascript">

    var app = angular.module('fanfans', []);

    app.controller("OntheFanfansCtrl", ["$scope", function($scope) {
        $scope.spheres = [];
        $scope.angle = 0;
        window.updateFanfas = function(freqs) {
            $scope.$apply(function(){
                    //console.log(j);
                    //console.log(window.delta);
                    for (var j = 0; j <= freqs.length; j++) {
                        for(var i = 0; i < 16; i++) {
                            var num = i*j +1;
                            var scale = 1;
                            $scope.angle += 0.1 + (i*j*0.01);
                            var radius = (freqs[20])/100;
                            $scope.spheres[num].position.x = (j*3) + radius * Math.cos($scope.angle);
                            $scope.spheres[num].position.z = radius * Math.sin($scope.angle);
                            $scope.spheres[(i * j)].position.y = i*2;
                            $scope.spheres[num].scale.x = $scope.spheres[num].scale.y = $scope.spheres[num].scale.z = scale;
                            //console.log($scope.spheres[i*j].position);
                            //console.log(freqs[i*j]);
                        }
                    }

            });
        };
        var initialSphere = {
            radius : 1,
            position: {
                x: 0,
                y: 0,
                z: 0,
                toString : function() {
                    return this.x + " " + this.y + " " + this.z;
                }
            },
            scale: {
                x: 0,
                y: 0,
                z: 0,
                toString : function() {
                    return this.x + " " + this.y + " " + this.z;
                }
            },
            color : "red"
        };

        var colors = ["purple", "white", "pink", "yellow", "red", "black", "orange","purple", "white", "pink", "yellow", "red", "black", "orange"];

        for(var i = 0; i < 32; i++) {
            var s = angular.copy(initialSphere);
            //s.position.x = s.position.x + (i*4);

            s.color = colors[1];
            $scope.spheres.push(s);
        }



    }]);
</script>
</html>
