<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My test</title>
    <link rel="stylesheet" href="">
    <script src="../js/angular.min.js"></script>
    <script src="../js/aframe.min.js"></script>
    <script src="../js/mytest.js"></script>
</head>
<body ng-app="fanfans" ng-controller="OntheFanfansCtrl">
    <a-scene>
        <a-assets>
            <img id="sky" src="img/tuba-city-sky-360.jpg">
        </a-assets>

        <a-sphere ng-repeat="sphere in spheres" color="{{sphere.color}}" radius="{{sphere.radius}}" scale="{{sphere.scale.toString()}}" position="{{sphere.position.toString()}}"></a-sphere>

        <a-sky color="#203A42"></a-sky>
        <a-entity position="0 0 20" rotation="35 -60 0">
          <a-camera></a-camera>
        </a-entity>
    </a-scene>
</body>
<script type="text/javascript">

    var app = angular.module('fanfans', []);
    var amountX = 10;
    var amountY = 10;
    var separation = 3;
    app.controller("OntheFanfansCtrl", ["$scope", function($scope) {
        $scope.spheres = [];
        $scope.angle = 0;
        window.updateFanfas = function(freqs) {
            $scope.$apply(function(){
                    console.log(freqs.length);
                    //console.log(j);
                    //console.log(window.delta);

                    var i = 0;
                    for( var ix = 0; ix < amountX; ix++ ){
                        for( var iy = 0; iy < amountY; iy++ ){
                            var x =  ix * separation;
                            var z =  iy * separation;
                            var scale = 1;
                            $scope.spheres[i].position.x = x;
                            $scope.spheres[i].position.z = z;
                            $scope.spheres[i].position.y = (freqs[ix])/10;
                            $scope.spheres[i].scale.x = $scope.spheres[i].scale.y = $scope.spheres[i].scale.z = scale;

                            i++;
                        }
                    }

            });
        };
        var initialSphere = {
            radius : 1,
            position: {
                x: 0,
                y: 0,
                z: 0,
                toString : function() {
                    return this.x + " " + this.y + " " + this.z;
                }
            },
            scale: {
                x: 0,
                y: 0,
                z: 0,
                toString : function() {
                    return this.x + " " + this.y + " " + this.z;
                }
            },
            color : "red"
        };

        var colors = ["purple", "white", "pink", "yellow", "red", "black", "orange","purple", "white", "pink", "yellow", "red", "black", "orange"];

        for(var i = 0; i < (amountX*amountY); i++) {
            var s = angular.copy(initialSphere);
            //s.position.x = s.position.x + (i*4);

            s.color = colors[1];
            $scope.spheres.push(s);
        }



    }]);
</script>
</html>
