<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My test</title>
    <link rel="stylesheet" href="">
    <script src="../js/angular.min.js"></script>
    <script src="../js/aframe.min.js"></script>
    <script src="../js/mytest.js"></script>
</head>
<body ng-app="fanfans" ng-controller="OntheFanfansCtrl">
    <a-scene>
        <a-assets>
            <img id="sky" src="../img/sky-dark.jpg" alt="dark sky">
        </a-assets>
        <a-sphere ng-repeat="sphere in spheres" color="#FFFFFF" radius="{{sphere.radius}}" scale="{{sphere.scale.toString()}}" position="{{sphere.position.toString()}}"></a-sphere>

        <a-sky src="#sky"></a-sky>
        <a-entity position="150 90 120" rotation="-30 0 0">
          <a-camera></a-camera>
        </a-entity>
    </a-scene>
</body>
<script type="text/javascript">

    var app = angular.module('fanfans', []);
    var amountX = 100;
    var amountY = 15;
    var separation = 3;

    app.controller("OntheFanfansCtrl", ["$scope", function($scope) {
        $scope.spheres = [];
        $scope.angle = 0;
        window.updateFanfas = function(freqs) {
            $scope.$apply(function(){
                    //console.log(freqs.length);
                    //console.log(j);
                    //console.log(window.delta);

                    var i = 0;
                    for( var ix = 0; ix < amountX; ix++ ){
                        for( var iy = 0; iy < amountY; iy++ ){
                            $scope.spheres[i].position.y = ((freqs[ix]/5)*(freqs[iy]*0.01));
                            i++;
                        }
                    }

            });
        };
        var initialSphere = {
            radius : 1,
            position: {
                x: 0,
                y: 0,
                z: 0,
                toString : function() {
                    return this.x + " " + this.y + " " + this.z;
                }
            },
            scale: {
                x: 0,
                y: 0,
                z: 0,
                toString : function() {
                    return this.x + " " + this.y + " " + this.z;
                }
            }
        };
            for( var ix = 0; ix < amountX; ix++ ){
                for( var iy = 0; iy < amountY; iy++ ){
                    var s = angular.copy(initialSphere);
                    var x =  ix * separation;
                    var z =  iy * separation;
                    var scale = 1;
                    s.position.x = x;
                    s.position.z = z;
                    s.position.y = 1;
                    s.scale.x = s.scale.y = s.scale.z = scale;
                    $scope.spheres.push(s);
                }
            }





    }]);
</script>
</html>
