<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My test</title>
    <link rel="stylesheet" href="">
    <script src="../js/angular.min.js"></script>
    <script src="../js/aframe.min.js"></script>
    <script src="../js/mytest2.js"></script>
</head>
<body ng-app="fanfans" ng-controller="OntheFanfansCtrl">
    <a-scene>

        <a-sphere ng-repeat="sphere in spheres" color="{{sphere.color}}" radius="{{sphere.radius}}" scale="{{sphere.scale.toString()}}" position="{{sphere.position.toString()}}"></a-sphere>


        <a-sky color="#203A42"></a-sky>
        <a-entity position="0 200 160" rotation="0 0 0">
          <a-camera></a-camera>
        </a-entity>
    </a-scene>
</body>
<script type="text/javascript">

    var app = angular.module('fanfans', []);
    var amountX = 30;
    var amountY = 30;
    var separation = 10;
    function map_range(value, low1, high1, low2, high2) {
        return low2 + (high2 - low2) * (value - low1) / (high1 - low1);
    }
    function componentToHex(c) {
        var hex = c.toString(16);
        return hex.length == 1 ? "0" + hex : hex;
    }

    function rgbToHex(r, g, b) {
        return "#" + componentToHex(r) + componentToHex(g) + componentToHex(b);
    }

    alert( rgbToHex(0, 51, 255) ); // #0033ff
    app.controller("OntheFanfansCtrl", ["$scope", function($scope) {
        $scope.spheres = [];
        $scope.angle = 0;
        window.updateFanfas = function(freqs) {
            $scope.$apply(function(){
                    //console.log(freqs.length);
                    //console.log(j);
                    //console.log(window.delta);

                    var i = 0;
                    for( var ix = 0; ix < amountX; ix++ ){
                        for( var iy = 0; iy < amountY; iy++ ){
                            $scope.spheres[i].position.y = ((freqs[ix]/5)*(freqs[iy]*0.01));
                            //$scope.spheres[i].color = map_range();
                            i++;
                        }
                    }

            });
        };
        var initialSphere = {
            radius : 1,
            position: {
                x: 0,
                y: 0,
                z: 0,
                toString : function() {
                    return this.x + " " + this.y + " " + this.z;
                }
            },
            scale: {
                x: 0,
                y: 0,
                z: 0,
                toString : function() {
                    return this.x + " " + this.y + " " + this.z;
                }
            },
            color : "pink"
        };

        var colors = ["purple", "white", "pink", "yellow", "red", "black", "orange","purple", "white", "pink", "yellow", "red", "black", "orange"];

            for( var ix = 0; ix < amountX; ix++ ){
                for( var iy = 0; iy < amountY; iy++ ){
                    var s = angular.copy(initialSphere);
                    var x =  ix * separation;
                    var z =  iy * separation;
                    var scale = 1;
                    s.position.x = x;
                    s.position.z = z;
                    s.position.y = 1;
                    s.scale.x = s.scale.y = s.scale.z = scale;
                    $scope.spheres.push(s);
                }
            }





    }]);
</script>
</html>
