<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My test</title>
    <link rel="stylesheet" href="">
    <script src="../js/angular.min.js"></script>
    <script src="../js/aframe.min.js"></script>
    <script src="../js/mytest2.js"></script>
</head>
<body ng-app="fanfans" ng-controller="OntheFanfansCtrl">
    <a-scene>
        <a-assets>
            <img id="sky" src="../img/sky-dark.jpg" alt="dark sky">
        </a-assets>
        <a-sphere ng-repeat="sphere in spheres" color="{{sphere.color}}" radius="{{sphere.radius}}" scale="{{sphere.scale.toString()}}" position="{{sphere.position.toString()}}"></a-sphere>


        <a-sky src="#sky"></a-sky>
        <a-entity position="-30 20 0" rotation="-40 -90 0">
          <a-camera></a-camera>
        </a-entity>
    </a-scene>
</body>
<script type="text/javascript">

    var app = angular.module('fanfans', []);
    var amountX = 10;
    var amountY = 20;
    function map_range(value, low1, high1, low2, high2) {
        return low2 + (high2 - low2) * (value - low1) / (high1 - low1);
    }
    function componentToHex(c) {
        var hex = c.toString(16);
        return hex.length == 1 ? "0" + hex : hex;
    }

    function rgbToHex(r, g, b) {
        return "#" + componentToHex(r) + componentToHex(g) + componentToHex(b);
    }

    alert( rgbToHex(0, 51, 255) ); // #0033ff
    app.controller("OntheFanfansCtrl", ["$scope", function($scope) {
        $scope.spheres = [];
        $scope.angleA = 0;
        $scope.angleB = 0;
        $scope.planetSize = 15;

        window.updateFanfas = function(freqs) {
            $scope.$apply(function(){
                var rangeSphere = Math.PI*2;

                var i = 0;
                for( var ix = 0; ix < amountX; ix++ ){
                    for( var iy = 0; iy < amountY; iy++ ){
                        $scope.angle = (rangeSphere / amountY) * i ;
                        var radius =  (Math.max(10, (10+freqs[i]/30))) * Math.sin(map_range(ix, 0, amountX, 0, Math.PI));
                        var scale = .3 +(freqs[i])/300;
                        $scope.spheres[i].position.x = radius * Math.sin($scope.angle);
                        $scope.spheres[i].position.y = 2*ix;
                        $scope.spheres[i].position.z = radius * Math.cos($scope.angle);
                        $scope.spheres[i].scale.x = $scope.spheres[i].scale.y = $scope.spheres[i].scale.z = scale;
                        i++;
                    }
                }

            });
        };
        var initialSphere = {
            radius : 1,
            position: {
                x: 0,
                y: 0,
                z: 0,
                toString : function() {
                    return this.x + " " + this.y + " " + this.z;
                }
            },
            scale: {
                x: 0,
                y: 0,
                z: 0,
                toString : function() {
                    return this.x + " " + this.y + " " + this.z;
                }
            },
            color : "pink"
        };

        var colors = ["purple", "white", "pink", "yellow", "red", "black", "orange","purple", "white", "pink", "yellow", "red", "black", "orange"];

            for( var ix = 0; ix < amountX; ix++ ){
                for( var iy = 0; iy < amountY; iy++ ){
                    var s = angular.copy(initialSphere);
                    var scale = 1;
                    s.scale.x = s.scale.y = s.scale.z = scale;
                    $scope.spheres.push(s);
                }
            }





    }]);
</script>
</html>
